# --- PyCharm / IDE ---
.idea/
*.swp
*.iml

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
.venv/
venv/
env/

# --- Testing ---
.pytest_cache/
.coverage

# --- TaskTonic specific ---
_documents/old_documents_not_matching_the_code/
/TaskTonic/old_code_not_in_git
